
body {
	background: #6d7f8c;
	line-height: 1.45rem;
	color: #e6e7e8;
	font-family: 'NoirPro', sans-serif;
	margin: 0
}

body.freeze {
	pointer-events: none;
}

h1 {
	margin: 0;
	margin-bottom: 2rem;
	text-align: center;
	font-weight: 300;
	line-height: 2.2rem;
}


/* left and right columns */

.col2 {
	display: flex;
	order: 2;
	flex-basis: 67%;
	justify-content: start;
	background-color: white;
	border-radius: 0px 10px 10px 0px;
	padding-top: 2rem;
	flex-direction: column;
	align-items: center;
	color: #566D7C;
	background-color: #FCF6F9;
}

.col1 {
	display: flex;
	flex-direction: column;
	order: 1;
	flex-basis: 33%;
	border-radius: 10px 0px 0px 10px;
	background-image: url(bg.jpg);
	background-size: cover;
	background-position: center center;
	background-blend-mode: multiply;
	background-color: #8c8266b0;
}

/* Form transitions */

.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	-webkit-animation-delay: .4s;
				animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
				animation-delay: .4s;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

.slide-in-field{
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	-webkit-animation-delay: .4s;
				animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
				animation-delay: .4s;
	overflow-x: hidden;
}

.slide-in-field-delay1 {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	-webkit-animation-delay: .2s;
				animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
				animation-delay: .2s;
	overflow-x: hidden;
}

.slide-in-field-delay2 {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	-webkit-animation-delay: .4s;
				animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
				animation-delay: .4s;
	overflow-x: hidden;
}

.slide-in-field-delay3 {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	-webkit-animation-delay: .6s;
				animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
				animation-delay: .6s;
	overflow-x: hidden;
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(600px);
            transform: translateX(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.guest-card1{
	-webkit-animation: maximise 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	-webkit-animation-delay: .6s;
	        animation: maximise 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
					animation-delay: .6s;
}
.guest-card2{
	-webkit-animation: maximise 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	-webkit-animation-delay: .4s;
	        animation: maximise 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
					animation-delay: .4s;
}
.guest-card3{
	-webkit-animation: maximise 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	-webkit-animation-delay: .2s;
	        animation: maximise 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
					animation-delay: .2s;
}

.slide-five {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	-webkit-animation-delay: .2s;
					animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
					animation-delay: .2s;
}

.slide-ten {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	-webkit-animation-delay: .4s;
					animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
					animation-delay: .4s;
}

.slide-twenty {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	-webkit-animation-delay: .6s;
					animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
					animation-delay: .6s;
}

.slide-fifty {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	-webkit-animation-delay: .8s;
					animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
					animation-delay: .8s;
}

.slide-hundred {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	-webkit-animation-delay: 1s;
					animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
					animation-delay: 1s;
}

@-webkit-keyframes maximise {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes maximise {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.landing {
	-webkit-animation: text-expand;
	-webkit-animation-duration:0.7s;
	-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	-webkit-animation-fill-mode: both;
	-webkit-animation-delay: .5s;
	animation: text-expand;
	animation-duration: 1.5s;
	animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	animation-fill-mode: both;
	animation-delay: .5s;
}

@-webkit-keyframes text-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes text-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

/* Form Background and Style */

.section {
	position: relative;
	display: flex;
	width: 95%;
	margin: 0 auto;
	border-radius: 10px;
	box-shadow: 0px 6px 8px rgba(0, 0, 0, .3);
	flex-direction: row;
	min-height: 94%;
}


.form-instructions {
	text-align: center;
	font-size: 2.5rem;
	line-height: 1;
	margin: 0;
	font-weight: 700;
}

form {
	margin: 1rem auto;
	width: 100%;
	will-change: transform;
}


/* Fields Spacing */

.fieldgroup {
	margin: 3rem 0;
	position: relative;
	box-sizing: border-box;
}

.fieldgroup1 {
	margin: 3rem 0;
	position: relative;
	min-height: 200px;
	box-sizing: border-box;
	justify-content: center;
	display: flex;
	flex-direction: row;
}

input {
	border: 1px solid #00000017;
	border-radius: 9px;
	padding: 16px;
	font-size: 1rem;
	box-sizing: border-box;
	outline: none;
}

input[type=text] {
	width: 100%;
	font-family: inherit;
}

/*Text Input Fields Step3*/

.inp {
	margin: auto;
	width: 100%;
	max-width: 280px;
	box-sizing: border-box;
}

.inp .label {
	position: absolute;
	top: 12px;
	left: 0;
	font-size: 16px;
	color: #9098a9;
	font-weight: 500;
	transform-origin: 0 0;
	transition: all 0.2s ease;
}

.border {
	position: absolute;
	bottom: 0px;
	left: 0;
	height: 2px;
	width: 100%;
	background: #07f;
	transform: scaleX(0);
	transform-origin: 0 0;
	transition: all 0.15s ease;
}

.inp input {
	-webkit-appearance: none;
	width: 100%;
	border: 0;
	font-family: inherit;
	padding-top: 12px;
	padding-bottom: 2px;
	height: 48px;
	font-size: 16px;
	font-weight: 500;
	border-bottom: 2px solid #c8ccd4;
	background: none;
	border-radius: 0;
	color: #223254;
	transition: all 0.15s ease;
	text-transform:capitalize;
}

.inp input:hover {
	background: rgba(34, 50, 84, 0.03);
}

.inp input:not(:placeholder-shown)+span {
	color: #5a667f;
	transform: translateY(-26px) scale(0.75);
}

.inp input:focus {
	background: none;
	outline: none;
}

.inp input:focus+span {
	color: #07f;
	transform: translateY(-26px) scale(0.75);
}

.inp input:focus+span+.border {
	transform: scaleX(1);
}

.buttons {
    display: flex;
    align-self: flex-end;
    margin: 0px 5px 30px 0px;
}

.form-step {
	transition: 0.1s ease-in-out;
	transition-timing-function: ease-in-out;
	will-change: transform, opacity;
	width: 100%;
	height: 100%;
}

/* Base Styles */

html {
	font-size: 16px;
}

html,
body {
	height: 100%;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #6d7f8c;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
}


/* Component Styles - Steps */

.steps {
	display: flex;
	width: 50%;
	margin: 0;
	padding: 0 0 2rem 0;
	list-style: none;
	flex-direction: column;
	height: 60%;
}

.step {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex: 1;
	position: relative;
	pointer-events: none;
}

.step--active,
.step--complete {
	cursor: pointer;
	pointer-events: all;
}

.step:not(:last-child):before,
.step:not(:last-child):after {
	display: block;
	position: absolute;
	top: 50%;
	width: 0.15rem;
	content: '';
	will-change: height;
}

.step:before {
	height: 100%;
	background-color: #e1e1e194;
}

.step:after {
	height: 0;
	background-color: #ff2267;
}

.step--complete:after {
	height: 100% !important;
	opacity: 1;
	animation-name: transitionBar;
	animation-duration: 2s;
}

@keyframes transitionBar {
	0% {
		height: 0%
	}
	100% {
		height: 100%
	}
}

.step__icon {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 1.2rem;
	height: 1.2rem;
	background-color: #292627;
    border: 2px solid #e1e1e1c7;
	border-radius: 50%;
	color: transparent;
	font-size: 2rem;
	z-index: 1;
}

.step__icon:before {
	display: none;
	color: #fff;
	content: '\2713';
}

.step--complete.step--active .step__icon {
	color: #000;
	transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.step--incomplete.step--active .step__icon {
	border-color: #ff2267;
	transition-delay: 0.5s;
}

.step--complete .step__icon {
	animation: bounce 0.5s ease-in-out;
	background-color: #ff2267;
	border-color: #ff2267;
	color: #000;
}

.step__label {
	position: absolute;
	left: 100%;
	width: 70%;
	font-size: 0.8rem;
	text-transform: uppercase;
	transform: translateX(-50%);
	letter-spacing: 1.2px;
	text-shadow: 0px 1px 2px #232323a6;
	font-weight: 400;
}

.step--incomplete.step--inactive .step__label {
	color: #d3d3d3b3;
}

.step--incomplete.step--active .step__label {
	color: #f1f1f1;
}

.step--active .step__label {
	transition: color 0.3s ease-in-out;
	transition-delay: 0.5s;
}

.col1Header {
	margin: 2rem auto;
	color: #ffffffd1;
	font-weight: 400;
}

.formContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.vertical-divider {
	clear: both;
	position: relative;
}

.vertical-divider:after {
	clear: both;
	content: " ";
	display: block;
	height: 0;
	visibility: hidden;
}

.vertical-divider .column:not(:first-child):after,
.vertical-divider .columns:not(:first-child):after {
	background: #f1f1f1;
	bottom: 0;
	content: " ";
	margin-left: -10px;
	position: absolute;
	top: 15px;
	bottom: 15px;
	width: 1px;
}


/* Very simple grid */

.container {
	width: 100%;
	padding: 10px;
	border: 1px solid #f1f1f1ad;
	display: flex;
	flex-direction: row;
	text-align: center;
	border-radius: 5px;
	box-shadow: 0px 2px 4px #ccd0d9;
}

.container .column,
.container .columns {
	margin-left: 10px;
	margin-right: 10px;
	display: flex;
	flex-direction: column;
	padding-bottom: 20px;
}

.container .one-third.column {
	flex-basis: 30%;
}

img.avatar-select {
	width: 5rem;
	height: 5rem;
	margin: 0 auto;
	border: 1px solid #9098a9d1;
	border-radius: 50%;
}

.landing-screen {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	border-radius: 10px;
	align-items: center;
	justify-content: space-evenly;
	background-image: url(landing-bg.jpg);
	background-size: cover;
	background-position: center center;
	background-blend-mode: multiply;
	background-color: #8c8266b0;
}

h1.landing {
	font-size: 3rem;
	font-weight: 500;
	letter-spacing: 1.2px;
	text-shadow: 0px 1px 2px #232323a6;
	color: #e6e7e8;
	;
}

h3 {
	letter-spacing: 1px;
	text-transform: uppercase;
}

.payment-font {
	font-size: 0.9rem;
}

.money-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
}

.money-card {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-preferred-size: 20%;
	    flex-basis: 20%;
	box-shadow: inset 0 0 0 1px #e1e0e0;
	border-radius: 10px;
	text-align: center;
	margin: 0 5px;
	position: relative;
	box-sizing: border-box;
}

.money-card::before, .money-card::after {
	box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}

/* CSS Border Transitions for money-cards */

/* default Twenty dollar card */
.draw {
  transition: color 0.15s;

}
.draw::before, .draw::after {
  border: 2px solid transparent;
	border-radius: 10px;
  width: 0;
  height: 0;
}
.draw::before {
  top: 0;
  left: 0;
}
.draw::after {
  bottom: 0;
  right: 0;
}
.draw:hover {
  color: #4caf50;
}
.draw:hover::before, .draw:hover::after {
  width: 100%;
  height: 100%;
}
.draw:hover::before {
  border-top-color: #4caf50;
  border-right-color: #4caf50;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.draw:hover::after {
  border-bottom-color: #4caf50;
  border-left-color: #4caf50;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}
/* Five dollar card */

.five-dollar:hover::before {
  border-top-color: #ff9800;
  border-right-color: #ff9800;
}
.five-dollar:hover::after {
  border-bottom-color: #ff9800;
  border-left-color: #ff9800;
}
.five-dollar:hover {
  color: #ff9800;
}

/* Ten dollar card */
.ten-dollar:hover::before {
  border-top-color: #03a9f4;
  border-right-color: #03a9f4;
}
.ten-dollar:hover::after {
  border-bottom-color: #03a9f4;
  border-left-color: #03a9f4;
}
.ten-dollar:hover {
  color: #03a9f4;
}
/* Fifty dollar card */
.fifty-dollar:hover::before {
  border-top-color: #9c27b0;
  border-right-color: #9c27b0;
}
.fifty-dollar:hover::after {
  border-bottom-color: #9c27b0;
  border-left-color: #9c27b0;
}
.fifty-dollar:hover {
  color: #9c27b0;
}

/* Hundred dollar card */
.hundred-dollar:hover::before {
  border-top-color: #f44336;
  border-right-color: #f44336;
}
.hundred-dollar:hover::after {
  border-bottom-color: #f44336;
  border-left-color: #f44336;
}
.hundred-dollar:hover {
  color: #f44336;
}


h2.card-header {
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 1px;
	text-transform: uppercase;
}

p.card-detail {
	font-weight: 500;
	font-size: 2.5rem;
	margin: 10px;
}

h4 {
	font-size: 1rem;
	font-weight: 400;
	text-transform: uppercase;
	color: #00000080;
	letter-spacing: 1px;
}

.inner-container {
	margin: 0 1.5rem;
	flex-grow: 1;
}

.autocomplete {
	width: 100%;
}

.money-footer {
	align-self: baseline;
}

.formContainer {
	height: 100%;
	width: 100%;
}

.details-form {
	height: 100%;
}

.detail-container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.money-footer {
	align-self: baseline;
	display: flex;
	width: 100%;
	background: #eaeaeaa3;
	height: 16%;
	border-top: 1px solid #d6dae0e0;
	box-shadow: inset 0px 1px 10px rgba(0, 0, 0, 0.13);
	justify-content: space-between;
	border-radius: 0px 0px 10px 0px;
}

.footer-title {
	margin: 10px 30px;
}

button.button-style {
	width: 8rem;
	height: 3rem;
	margin: auto 2rem auto 0px;
	border-radius: 50px;
	border: 1px solid #0d69d2;
	box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.2);
	background-color: #07f;
	font-family: inherit;
	font-size: medium;
	color: white;
}

p.total-money {
  margin: 0px 0px 0px 30px;
	font-size: 2rem;
	font-weight: 600;
	letter-spacing: 1px;
}

p.money-highlight {
	color: #07f;
}

.money-highlighted {
	animation-name: money-highlighted;
	animation-duration: 1.1s;
	animation-direction: forwards;
	animation-timing-function: ease-in-out;
}

@keyframes money-highlighted {
	0% {background-color: yellow; opacity: .2;}
			100% {background-color: none;}
}


.total-money, .sm-money:before {
	content: '$';
}

.total-money, .sm-money:after {
	content: '.00';
}

.total-money:before {
	content: '$';
}

.total-money:after {
	content: '.00';
}

.total-detail{
	margin: 0 30px;
	font-size: 2rem;
	font-weight: 600;
	letter-spacing: 1px;
	text-transform: capitalize;
}

.flex-details {
    display: flex;
    flex-direction: row;
}

.ui-menu-item{
	color: #00000080;
	padding: 7px 5px;
	border-bottom: 1px solid #f1f1f1bd;
}

p.start {
    background-color: #cfcfcf1c;
    border: 1px solid #ffffff36;
    padding: 0.7rem 1rem;
    border-radius: 30px;
    box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.2);
    text-shadow: 0px 2px 3px #2b2b2beb;
		-webkit-animation: shake-top 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
		-webkit-animation-delay: 3s;
		        animation: shake-top 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
						animation-delay: 3s;
}

@-webkit-keyframes shake-top {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}
@keyframes shake-top {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}


h5 {
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1.1px;
}

p.summary-detail {
    margin: 10px 0;
    letter-spacing: 1px;
    font-size: 1.3rem;
    font-weight: 300;
}

.column-name {
    flex-basis: 50%;
}

.name-summary {
    display: flex;
    flex-direction: row;
}

.gift-container {
    display: flex;
}

button.dollar-button {
    margin: 0;
    border: 1px solid #bea7033d;
    background-color: #f0d51a;
    color: #00000091;
}

.dollar-container {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    justify-content: flex-end;
}

input#amount {
    width: 60%;
	font-family: inherit;
}

.reset-margin{
	margin:0;
}

h4.reset-margin{
	margin-bottom:1.33rem;
}

.collapse-active {

}

.collapse{
	animation-name: swirl;
	animation-duration: .6s;
	animation-fill-mode: both;
	animation-timing-function: ease-in;
}

@keyframes swirl {
  0% {
		transform: rotate(0) scale(1);
    opacity: 1;
  }
  100% {
		transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
}


.cardst-highlight {
	animation-name: highlighted;
	animation-duration: 1.3s;
	animation-fill-mode: forwards;
}

@keyframes highlighted {
	  0% {transform: scale(1);
		}
		50% {transform: scale(1.3)}
			100% {transform: scale(1.1)}
}


h4.search-name {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: capitalize;
    color: #585858;
}

.ui-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    outline: 0;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.13);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.summary-heading {
    font-weight: 600;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.4);
    text-shadow: 0 1px 2px #ccd0d963;
}

input[type=text], input[type=button]{
	outline: none;
}
