
body {
  background: #6d7f8c;
  line-height: 1.45rem;
  color: #444;
}
body.freeze {
  pointer-events: none;
}
h1 {
  margin: 0;
  margin-bottom: 2rem;
  text-align: center;
  font-weight: normal;
  line-height: 2.2rem;
}
/* Form styles */
.section {
    position: relative;
    display: flex;
    width: 80%;
    padding: 4rem;
    margin: 5vh auto 0 auto;
    background: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
    flex-direction: row;
}
/*.section:before {
  content: "";
  width: 100%;
  background: #a7b9c7;
  height: 170px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}*/
.form-instructions {
  text-align: center;
}
form {
  margin: 2rem auto;
  width: 100%;
  max-width: 330px;
  will-change: transform;
}
/* Input styles */
.fieldgroup {
  margin: 1.5rem 0;
  position: relative;

}
label {
  position: absolute;
  top: 0.8rem;
  left: 0;
  display: block;
  font-size: 1rem;
  transition: 2s ease-out;
  opacity: 0.5;
  will-change: top, font-size;
}
label:hover {
  cursor: text;
}
input {
  border: 1px solid #fff;
  font-size: 1.2rem;
  padding: 0.6rem;
  padding-left: 0;
  background: transparent;
  border: none;
  border-bottom: 2px solid #4b4d4f;
  width: 100%;
  /*@TODO update width of form fields*/
  max-width: 500px;
  border-radius: 0;
}
input:focus {
  outline: none;
}
input:valid {
  border-color: #444;
}
input:focus + label, input.hasInput + label {
  top: -0.8rem;
  font-size: 0.7rem;
}
/* Buttons */
.btn {
  color: #fff;
  background-color: #32a89b;
  padding: 0.8rem;
  font-size: 1.2rem;
  line-height: 1.2rem;
  border-radius: 5px;
  border: 2px solid transparent;
  min-width: 45px !important;
  /* Reset outlines on button with frozen states */
}
.btn:hover, .btn.hover {
  color: #fff;
  background-color: #4ebd1e;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  transition: 0.2s;
}
.btn:active, .btn.active {
  color: #fff;
  background-color: #4ebd1e;
  box-shadow: inset 0 2px 10px rgba(0, 0, 0, .3);
  outline: 2px solid #4ebd1e;
}
.btn:focus, .btn.focus {
  color: #fff;
  outline: 2px solid #4ebd1e;
  outline-offset: 2px;
}
.btn:active:focus, .btn.active.focus {
  outline: 4px solid #4ebd1e;
}
.btn #spacer {
  padding: 20px;
}
.btn.hover, .btn.active {
  outline: none;
}
/* Alternate action */
.btn-alt {
  background-color: transparent;
  color: #4ebd1e;
  border: 2px solid #4ebd1e;
  /* Reset outlines on button with frozen states */
}
.btn-alt:hover, .btn-alt.hover {
  background-color: transparent;
  color: #269500;
  border-color: #269500;
  text-shadow: none;
}
.btn-alt:focus, .btn-alt.focus {
  color: #3aa90a;
}
.btn-alt:active, .btn-alt.active {
  color: #fff;
  background-color: #4ebd1e;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, .2);
}
.btn-alt.hover, .btn-alt.active {
  outline: none;
}
.buttons {
  display: flex;
}
form .btn {
  display: inline-block;
  width: 100%;
  max-width: 220px;
  margin: 4rem auto 0 auto;
}
[data-step="4"] button.btn {
  display: block;
  margin: 0 auto;
}
/* Progress bar */
.container {
  margin-top: 40px;
  padding-top: 20px;
  /*background-color: #beb*/
}
/* Form animations */
.animation-container {
  position: relative;
  width: 100%;
  transition: 0.1s;
  will-change: padding;
  overflow: hidden;
}
.form-step {
  position: absolute;
  transition: 0.1s ease-in-out;
  transition-timing-function: ease-in-out;
  will-change: transform, opacity;
  margin-top:50px;
}
.form-step.leaving {
  animation: left-and-out 0.5s forwards;
}
.form-step.waiting {
  transform: translateX(400px);
}
.form-step.coming {
  animation: right-and-in 0.5s forwards;
}
/* Animation definitions */
@keyframes left-and-out {
  100% {
    opacity: 0;
    transform: translateX(-400px);
  }
}
@keyframes right-and-in {
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Helpers */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.hidden {
  display: none;
}
/* range slider */
.slidecontainer {
  width: 100%;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}

/*progressBar*/

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  33% {
    transform: scale(0.9);
  }
  66% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
/* Base Styles */
html {
  font-size: 16px;
}
html, body {
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #292627;
  font-family: 'Montserrat', sans-serif;
}
/* Component Styles - Steps */
.steps {
  display: flex;
  width: 50%;
  margin: 0;
  padding: 0 0 2rem 0;
  list-style: none;
  flex-direction: column;
  height: 100%;
}
.step {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  position: relative;
  pointer-events: none;
}
.step--active, .step--complete {
  cursor: pointer;
  pointer-events: all;
}
.step:not(:last-child):before, .step:not(:last-child):after {
  display: block;
  position: absolute;
  top: 50%;
  left: 49.9%;
  width: 0.25rem;
  content: '';
  will-change: height;
}
.step:before {
  height: 100%;
  background-color: #e6e7e8;
}
.step:after {
  height: 0;
  background-color: #ff2267;
}
.step--complete:after {
  height: 100% !important;
  opacity: 1;
  animation-name: transitionBar;
  animation-duration: 2s;
}

@keyframes transitionBar {
  0% {height: 0%}
  100% {height: 100%}
}

.step__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 3rem;
  height: 3rem;
  background-color: #292627;
  border: 0.25rem solid #e6e7e8;
  border-radius: 50%;
  color: transparent;
  font-size: 2rem;
  z-index: 1;
}
.step__icon:before {
  display: block;
  color: #fff;
  content: '\2713';
}
.step--complete.step--active .step__icon {
  color: #000;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.step--incomplete.step--active .step__icon {
  border-color: #ff2267;
  transition-delay: 0.5s;
}
.step--complete .step__icon {
  animation: bounce 0.5s ease-in-out;
  background-color: #ff2267;
  border-color: #ff2267;
  color: #000;
}

.step__label {
    position: absolute;
    padding-left: 3rem;
    left: 100%;
    width: 70%;
    font-size: 0.8rem;
    text-transform: uppercase;
    transform: translateX(-50%);
}

.step--incomplete.step--inactive .step__label {
  color: #e6e7e8;
}
.step--incomplete.step--active .step__label {
  color: #4b4d4f;
}
.step--active .step__label {
  transition: color 0.3s ease-in-out;
  transition-delay: 0.5s;
}


.col2 {
    display: flex;
    order: 2;
	flex-basis: 65%;
  justify-content: center;
}

.col1 {
    display: flex;
    order: 1;
	flex-basis: 35%;
  height: 30rem;
}
